<% if object.errors.any? %>
  <div class="error_explanation">
    <h2>Please correct the following errors</h2>
    <ul>
	<% object.errors.full_messages.each do |m| %>
	  <li><%= m %></li>
	<% end %>
	</ul> 	
  </div>
<% end %>