<div class="well">
  <h3>This is my take on the Join Quipper test</h3>
  <p>Built with Rails 3.2.3 and Ruby 1.9.3.</p>
  <p>Testing tools:</p>
  <ul>
	<li>rspec-rails</li>
	<li>capybara</li>
	<li>factory_girl_rails</li>
	<li>launchy</li>
	<li>guard</li>
	<li>guard-bundler</li>
	<li>guard-rspec</li>
	<li>guard-livereload</li>
	<li>faker</li>
	<li>timecop</li>
  </ul>
  <p>Gems:</p>
  <ul>
    <li>devise (user auth)</li>
    <li>paperclip (file attachments)</li>
    <li>pg (postgres for heroku deploy)</li>
  </ul>
  <p>Completed stories:</p>
  <ul>
    <li>As a user, I want to create a task so that I will not forget something to do.</li>
	<li>As a user, I want to create a task with a deadline so that I will not miss deadline.</li>
	<li>As a user, I want to edit a task so that I can change a task after I created.</li>
	<li>As a user, I want to mark a task as done so that I can distinguish incomplete tasks from complete ones.</li>
	<li>As a user, I want to see all tasks which didn't meet deadline as of today.</li>
	<li>As a user, I want to delete a task so that I can remove task which is not a task any more.</li>
	<li>As a user, I want to see tasks list ordered by created date.</li>
	<li>As a user, I want to see tasks list ordered by deadline.</li>
  </ul>	 
</div>


== COMPLETED STORIES



== WORKING EXAMPLE

Deployed to heroku at quippertest.heroku.com