select {
  width: 100px;
}

input, textarea {
  width: 300px;
}

textarea {
  height: 100px;
}

.error_explanation {
  width: 600px;
  border: 1px solid #CCC;
  padding: 7px;
  padding-bottom: 2px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
}

.error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #CCC;
  color: #000;
}

.error_explanation ul {
  padding-top: 10px;
}

.error_explanation ul li {
  font-size: 12px;
  list-style: square;
}